<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="false">

    <!-- UI Tests -->
    <test name="UI Tests">
        <groups>
            <run>
                <include name="ui"/>
            </run>
        </groups>
        <packages>
            <package name="com.controlup.saucedemo.tests"/>
        </packages>
    </test>

    <!-- API Tests -->
    <test name="API Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <packages>
            <package name="com.controlup.airportgap.tests"/>
        </packages>
    </test>

</suite>